{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Génération de Graphique</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Génération de Graphique à la Demande</h1>

    <img src="data:image/png;base64,{{ type_chart }}" alt="Type graph" />
    <img src="data:image/png;base64,{{ size_chart }}" alt="Size graph" />
    <img src="data:image/png;base64,{{ test }}" alt="Timeline graph" />
  </body>
</html>
