<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>{{ file.name }}</h2>
    <p>Size: {{ file.size }} KB</p>
    <p>Uploaded at: {{ file.uploaded_at }}</p>
    {% if type == 'image' %}
    <img src="{{ file_location }}" alt="{{ file.name }}" width="600" />
    {% elif type == 'video' %}
    <video width="600" height="400" controls>
      <source src="{{ file_location }}" type="{{ file.file_type }}" />
      Your browser does not support the video tag.
    </video>
    {% elif type == 'pdf' %}
    <iframe
      id="iframe_pdf"
      src="{{ file_location }}"
      style="width: 800px; height: 800px"
      frameborder="0"
    ></iframe>
    {% else %}
    <a href="{{ file_location }}" download>Download {{ file.name }}</a>
    {% endif %} {{file_location}}
  </body>
</html>
