{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>

<body>
   
    <form method="POST">
        <h2>Sign Up</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <a href='{% url "login_view" %}'>Se connecter</a>
</body>
</html>