@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.chart {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: linear-gradient(to right, #571dd3, #ff7830);
  color: white;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header a,
.header .breadcrumbs {
  color: white;
  padding: 8px;
}

.header .menu .hamburger {
  border: none;
  background: transparent;
}

.header-icon {
  fill: #ffffff; /* Change this to your desired color */
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
}

.header-chart {
  fill: #ffffff; /* Change this to your desired color */
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  display: flex;
}

@media (min-width: 1000px) {
  .header .menu .hamburger {
    display: none;
  }
}

.header .menu .nav li {
  color: #353554;
  cursor: pointer;
  position: relative;
}

.header .menu .nav li::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 1px;
  width: 100%;
  position: absolute;
  background: #fff;
  transform: scale(0);
  transition: 0.3s;
}

.header .menu .nav li:hover::after,
.header .menu .nav li.active::after {
  transform: scale(1);
}

.header .menu .nav li.active {
  color: #fff;
}

@media (min-width: 1000px) {
  .header .menu .nav {
    display: flex;
  }

  .header .menu .nav li {
    list-style: none;
    margin-left: 1em;
  }
}

@media (max-width: 1000px) {
  .header .menu .nav.collapsed {
    display: none;
  }
}

.header .controls {
  display: flex;
  align-items: center;
}

.header .controls__item:not(:first-child) .icon {
  margin-left: 2em;
}

.header .controls__item .text {
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  .header .controls__item .text {
    display: none;
  }
}
/* Style pour le bouton "Nouveau" */
.new-button-container {
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

.new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #571dd3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  gap: 8px;
}

.new-button svg {
  fill: white;
  width: 15px;
  height: 15px;
}

.new-button:hover {
  background-color: #7e4fe3;
}

/* Style des menus déroulants */
.dropdown-menu {
  right: 5.5%;
}
.dropdown-menu,
.dropdown-menuo {
  display: none;
  position: absolute;
  top: calc(100%);
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  min-width: 150px;
}

.dropdown-item,
.dropdown-item2 {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.dropdown-item:hover,
.dropdown-item2:hover {
  background-color: #f1f1f1;
  color: #0277bd;
}

/* Styles communs pour les pop-ups */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.modal-content {
  position: relative;
}

.modal h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.modal-content .delete-button {
  background-color: #0277bd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; /* S'assure que le bouton occupe toute la largeur */
  margin-top: 15px; /* Espace au-dessus pour une séparation visuelle */
}

.modal-content .delete-button:hover {
  background-color: #01579b;
}

.folder-name-input,
.create-folder-button,
.upload-file-button,
.delete-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.create-folder-button,
.upload-file-button,
.delete-button {
  background-color: #0277bd;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.create-folder-button:hover,
.upload-file-button:hover,
.delete-button:hover {
  background-color: #01579b;
}

/* Bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

/* Conteneur pour le bouton "Options" */
.options-menu {
  position: relative; /* Nécessaire pour que le menu s'aligne par rapport au bouton */
  display: inline-block;
}

/* Style du bouton "Options" */
.optionsbutton {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.optionsbutton:hover {
  background-color: gray;
}

/* Menu déroulant pour le bouton "Options" */
.dropdown-menuo {
  display: none; /* Masqué par défaut */
  position: absolute; /* Pour positionner par rapport à .options-menu */
  top: 100%; /* Juste en dessous du bouton */
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  min-width: 150px;
}

/* Style des éléments du menu déroulant */
.dropdown-item2 {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.dropdown-item2:hover {
  background-color: #f1f1f1;
  color: #0277bd;
}

/* Style pour le titre principal */
.title {
  position: relative;
  padding: 2em 4em;
  background: linear-gradient(to right, #571dd3, #ff7830);
}

.title .text {
  font-size: 3em;
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Alfa Slab One", serif;
  font-style: normal;
  margin-top: 10px;
}

/* Style pour les dossiers */

.folder-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 4%;
  padding-top: 7%;
}

.folder-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 200px;
  text-align: center;
  margin-bottom: 9%;
}

.folder-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.folder-link svg {
  width: 15;
  height: auto;
  margin-bottom: 10px;
}

.folder-name {
  display: block; /* Ensure the folder name is displayed */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 5px;
}

.folder-upd {
  display: block; /* Ensure the folder name is displayed */
  font-size: 10px; /* Adjust the font size as needed */
  margin-top: 5px;
  color: #ccc;
}

.folder-info {
  display: block; /* Ensure the folder name is displayed */
  margin-top: 5px;
  font-size: 8px;
  color: gray;
}

.options-icon {
  margin-left: auto;
  cursor: pointer;
}

.folder-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.folder-item:hover .folder-menu {
  display: block;
}

/* Style pour les fichiers */

.file-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 4%;
}

.file-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 200px;
  text-align: center;
  margin-bottom: 9%;
}

.file-link {
  
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.file-link:hover {
  background-color: #ddd;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.file-link svg {
  width: 48px; /* Adjust the size of the file icon */
  height: 48px; /* Adjust the size of the file icon */
  margin-bottom: 10px;
}

.file-name {
  display: block; /* Ensure the file name is displayed */
  font-size: 14px; /* Adjust the font size as needed */
  padding-top: 20px;
}

.options-icon {
  margin-left: auto;
  cursor: pointer;
}

.file-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.file-item:hover .file-menu {
  display: block;
}

.file-upd {
  display: block; /* Ensure the folder name is displayed */
  font-size: 10px; /* Adjust the font size as needed */
  margin-top: 5px;
  color: #ccc;
}

.file-info {
  display: block; /* Ensure the folder name is displayed */
  margin-top: 5px;
  font-size: 8px;
  color: gray;
}

.file-frame {
  /* border: 6px solid #ccc; Couleur et épaisseur de la bordure */
  border-radius: 20px; /* Bord arrondi */
  padding: 10px; /* Espace intérieur */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Largeur du cadre */
  height: 110px; /* Hauteur du cadre */
  margin-bottom: 10px; /* Espace sous le cadre */
}

/* Style pour le conteneur du bouton Nouveau */
.new-button-container {
  position: relative;
  display: inline-block;
}

.new-button {
  background-color: #571dd3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.new-button:hover {
  background-color: #7e4fe3;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #0277bd;
}

/* Styles communs pour les pop-ups */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.modal-content {
  position: relative;
}

.modal h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.folder-name-input,
.upload-file-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.create-folder-button,
.upload-file-button {
  background-color: #0277bd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.create-folder-button:hover,
.upload-file-button:hover {
  background-color: #01579b;
}

/* Bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}
