{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Fichiers de {{ username }} - {{ current_path }}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <div class="header">
      <div class="menu">
        <button class="hamburger">
          <i class="fas fa-bars"></i>
        </button>
        <nav class="nav collapsed">
          <li>Home</li>
          <li class="active">Files</li>
          <li>Help</li>
        </nav>
      </div>
      <div class="controls">
        <div class="controls__item">
          <i class="icon fas fa-search"></i>
          <span class="text">Search</span>
        </div>
        <div class="controls__item">
          <i class="icon fab fa-windows"></i>
          <span class="text">Windows</span>
        </div>
        <div class="controls__item">
          <i class="icon fas fa-info-circle"></i>
          <span class="text">Information</span>
        </div>
      </div>
    </div>
    <div class="title">
      <div class="text">Liste des fichiers et dossiers pour {{ username }}</div>

      <div class="btn-flow">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="table-box">
      <table class="table">
        <thead class="table__head">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Owner</th>
            <th>Last Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table__body">
          {% for item in items %}
          <tr>
            <td><i class="file-icon fas fa-folder"></i></td>
            <td>{{ item.name }}</td>
            <td>{{ username }}</td>
            <td>Yesterday</td>
            <td>
              <i class="fas fa-ellipsis-v" data-behavior="file-settings"></i>
              <ul class="file-menu collapsed">
                <li>Rename</li>
                <li>Move</li>
                <li>Delete</li>
                <li>Properties</li>
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <p>Click on the "Choose File" button to upload a file:</p>

    <form
      action="{% if current_path %}{% url 'upload' username current_path %}{% else %}{% url 'upload_root' username %}{% endif %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input type="hidden" name="path" value="{{ current_path }}" />
      <input type="hidden" name="username" value="{{ username }}" />
      <input type="file" name="filename" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
